.panel {
  position: absolute;
  top: 15%;
  right: 0;
  width: 250px;
  background-color: #262626;
  color: #fff;
  padding: 20px;
  transition: transform 0.3s ease;
  border-radius: 25px 0 0 25px;
  font-family: 'Aptos', sans-serif;
}

.panel.closed {
  transform: translateX(100%);
}

.panel-toggle {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 40px;
  height: 60px;
  background-color: #262626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.toggle-icon {
  /*transform: rotate(90deg);*/
  margin-right: 10px;
}

.thumbnail-img {
  width: 100%;
  border-radius: 8px;
}

.panel-section {
  margin-bottom: 15px;
}

.network {
  background-color: #3A3A3A;
  padding: 2px 10px;
  border-radius: 25px;
}

.profile {
  background-color: #3A3A3A;
  padding: 10px;
  border-radius: 25px;
}

.profile-title, .network-title {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.profile-item, .network-item {
  display: flex;
  font-size: small;
  align-items: center;
  margin: 5px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.network-item-container {
  display: flex;
  flex-direction: row;
}

.network-item-container-2 {
  margin-left: 10px;
  width: 50%;
}